
/* 用來做IE8預覽 */
.hiiirImageuploadPreviewer-ie8-preview {
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
}

/* 用來顯示IE8圖片尺寸 */
.hiiirImageuploadPreviewer-ie8-size { 
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
  visibility:hidden;
  position: absolute;
  top: -10000px;
  left: -10000px;
}
